.navbar {
  margin: 0 auto;
  padding: 10px;
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none !important;
    }
  }
  h1 {
    font-size: 22px;
    font-weight: 600;
    user-select: none;
    color: #f8f9fa;
  }
}
